<!DOCTYPE html>
<html>
    <head>
        <title>web</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h1><a href='/'>Board : {{user}}</a></h1>
        <a href='/login'>login</a>
        <a href='/logout'>logout</a>
        <a href='/join'>join</a>
        <a href='/withdraw'>whitdraw</a><br><br>
        <a href='/write'>write</a>
        <a href='/update/{{id}}'>update</a>
        <a href='/delete/{{id}}'>delete</a>
        <h2>{{ title }}</h2>
        {{ content }}
        <form action='/join' method='POST'>
            <p><input type='text' name='id' placeholder="User Id" autofocus required></p>
            <p><input type='password' name='pw' placeholder="Password" required></p>
            <p><input type='text' name='pf' placeholder="Your Profile" required></p>
            <p><button type='submit'>join</button></p>
        </form><p>
    </body>
</html>